$backgroundColor: rgb(20 30 55 / var(--tw-bg-opacity, 1));
$primaryColor : rgb(50 170 160 / var(--tw-text-opacity, 1));
$secondaryColor : rgb(190 255 130 / var(--tw-text-opacity, 1));
:host {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 100%;
  justify-content: space-between;
  color: #cdcdcd;
  &:hover{
    color: #FFF8E7;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: column;
    gap: 40px;
    padding: 15px 0px;
    .location-align{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .location{
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 0px;
            color: rgb(176, 176, 176);
            .location-icon{
                width: 20px;
           }
        }
        .publisher{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            .publisher-name{
                margin: 0;
                text-align: center;
                text-wrap: nowrap;
            }
            .publisher-img-container{
                width: 40px;
                height: 40px;
                border-radius:50%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border: 1px solid white;
                .publisher-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
        }
   }
    .card-title{
        display: flex;
        width: 100%;
        justify-content:center;
        .title {
            font-family: bold;
            text-align: center;
            transition: 0.3s all ease-in-out;
            margin: 0;
            border-radius: 5px;
            text-shadow: 0px 0px 5px black;
            font-size: 20px;
        }
        .title::first-letter {
            text-transform: capitalize;
        }
    }
  }
  .card-body{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 0px;
    .price{
        font-family: Bold;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.129);
        display: flex;
        align-items: center;
        text-shadow: 0px 0px 2px black;
        font-size: 14px;
    }
    .low-price {
        background-color: #ff000036;
    }
    
    .medium-price {
        background-color: #ff77003f; 
    }
    
    .high-price {
        background-color: #fbff023b;
    }
    
    .premium-price {
        background-color: #00ff0030; 
    }
  }
}

@media screen and (max-width: 800px) {
    .card{
        .card-title{
           .title{
                font-size: 20px
           }
        }
    }
}
@media screen and (max-width: 700px) {
}