.center-component {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .component-align{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .card-align{
      display: flex;
      justify-content: space-between;
      width: 60%;
      padding: 50px 20px;
      border-radius: 20px;
      background: radial-gradient(100% 1162.31% at 100% 0, #44557e 0, #232d46 100%);
      overflow: hidden;
      .signup-align{
        width: 50%;
      }
      .registration{
        width: 50%;
        max-width: 500px;
      }
    }
    .switch{
      width: 100%;
      max-width: 200px;
    }
  }
}
.modal{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
}