<div class="center-component">
    <div class="component-align">

        <div class="card-align">
            <div class="signup-align">
            
            </div>
            <app-registration class="registration" data-aos="fade-left" *ngIf="!loginVisible"></app-registration>
            <app-login class="registration" data-aos="fade-left" *ngIf="loginVisible"></app-login>
        </div>
        <button class="switch" (click)="switchAuth()">Switch</button>
    </div>
</div>

<app-modal class="modal"*ngIf="modalVisible" (click) = "closeModal()" [message]="ModalMessage"></app-modal>