<div class="sticky-side" >
    <div class="profile-section">
        <div class="profile-img-container">
            <img [src]="userProfile.photo" class="profile-img">
        </div>
        <div class="name-align">
            <div class="username-align">
                <p class="username">{{userProfile.name}} </p>
                <p class="username">{{userProfile.lastName}} </p>
            </div>
            <p class="bio">{{userProfile.bio}} </p>
        </div>
    </div>
    <div class="background-section">
    </div>
</div>