<div class="center-card">
    <div class="card">
        <p class="card-title">{{"LOGIN"|translate}} </p>
        <form  [formGroup]="loginForm" class="form-width">
            <div class="form-align">
                <div class="form-group-v" >
                    <div class="form-group">
                        <input type="email"  class="form-field"  formControlName="email"/>
                        <label for="name" class="form-label">
                            {{"GMAIL" | translate}}</label>
                    </div>
                    <div class="form-group">
                        <input type="password"  class="form-field"  formControlName="password"   maxlength="20" />
                        <label for="name" class="form-label">
                            {{"PASSWORD" | translate}}</label>
                    </div>
                </div>
                <button class="submit-button" (click)="login()">{{"SUBMIT"|translate}} </button>
            </div>
        </form>
    </div>
</div>