<div class="header">
    <div class="header-align">
            <button class="navbar-button" (click)="showNavbar()">
                <img class="white-lines" src="assets/icons/whitelines.png" alt="">
                <img class="white-lines" src="assets/icons/whitelines.png" alt="">
                <img class="white-lines" src="assets/icons/whitelines.png" alt="">
            </button>
        <div class="header-title" routerLink="/jobs">
            <img src="assets/icons/jobs2.png" alt="" class="suitcase">
            <p class="title">Job Lander</p>
        </div>
    </div>
</div>

<div class="navbar-align" *ngIf="navbarvisible">
    <div class="navbar-back" >
        <div class="navbar" data-aos="fade-right">
            <div class="x-button-align" (click)="hideNavbar()">
                <button class="x-button"></button>
            </div>
            <div class="nav-center">
                <div class="nav-align">
                    <div class="nav-link"(click)="hideNavbar()" routerLinkActive="active-link"[routerLink]="routes.home"><img src="assets/icons/home.png" alt="" class="nav-icon"> {{"HOME"|translate}}</div>
                    <div class="nav-link"(click)="hideNavbar()"  routerLinkActive="active-link"[routerLink]="routes.publish" ><img src="assets/icons/publish.png" alt=""class="nav-icon">{{"PUBLISH"|translate}}</div>
                    <div class="nav-link"(click)="hideNavbar()" routerLinkActive="active-link"[routerLink]="routes.about"><img src="" class="nav-icon">{{"ABOUTUS"|translate}}</div>
                    <div class="nav-link"(click)="hideNavbar()" routerLinkActive="active-link"[routerLink]="routes.auth" *ngIf="!userLogged"><img src="assets/icons/signin.png" alt=""class="nav-icon">{{"LOGIN"|translate}}</div>
                    <div class="nav-link"(click)="hideNavbar()" routerLinkActive="active-link"[routerLink]="routes.profile" *ngIf="userLogged"><img src="assets/icons/profile.png" alt=""class="nav-icon">{{"PROFILE"|translate}}</div>
                </div>
            </div>
            <div class="language">
                <button (click)="en()" *ngIf="!lang"  class="lang-button" value="en">En</button>
                <button (click)="geo()" *ngIf="lang" class="lang-button" value="geo">ქარ</button>
            </div> 
        </div>
        <div (click)="hideNavbar()"></div>
    </div>
</div>  