
<div class="home">
    <div class="home-align">
        <div class="filter-align">       
            <app-filter class="filter-component"></app-filter>
        </div>
        <div class="vacany-align">
            <div *ngFor="let vc of vacanys; trackBy: trackByVacany"  data-aos="fade-up" data-aos-offset="200">
                <div [routerLink]="['/apply']" [queryParams]="{vacany: getVacanyData(vc)}" class="vacancy-height">
                    <app-vacancy-card [vacany]="vc" class="vacancy"></app-vacancy-card>
                </div>
            </div>
        </div>
    </div>
</div>


