<div class="center-component">
    <div class="about-align">
        <div class="about-content"  >
            <div class="content-container">
                <p class="content-title">{{"WHATISJOBLANDER" |translate}} </p>
                <p class="content-subject">{{"JOBLANDERIS" |translate}} </p>
            </div>
            <div class="about-img-container">
                <img src="assets/photos/confusedgirl.png" alt="" class="about-img">
            </div>
        </div>
        <div class="about-content">
            <div class="about-img-container">
                <img src="assets/photos/devbackground.gif" alt="" class="about-img">
            </div>
            <div class="content-container">
                <p class="content-title">{{"SEARCHINGFORJOB" |translate}} </p>
                <p class="content-subject">{{"REGISTERONOUR" |translate}} </p>
            </div> 
        </div>
        <div class="about-content" >
            <div class="content-container">
                <p class="content-title">{{"WHATISOURPURPOSE" |translate}} </p>
                <p class="content-subject">{{"OURPURPOSE" |translate}} </p>
            </div>
            <div class="about-img-container">
                <img [src]="purposeIMG" alt="" class="about-img">
            </div>
        </div>
    </div>
    <div class="about-background-align">
        <div class="sticky-side">
            <p class="find-job">{{"FINDYOURJOB"|translate}} </p>
            <div class="background-container">
                <img src="assets/photos/getajob.gif" class="background-img" alt="">
            </div>
        </div>
    </div>
</div>