<div class="center-component">
    <div class="about-align">
        <div class="about-content">
            <div class="about-img-container">
                <img src="assets/photos/jobLanderLogo.PNG" alt="" class="about-img">
            </div>
            <div class="content-container">
                <p class="content-title">{{"WHATISJOBLANDER" |translate}} </p>
                <p class="content-subject">{{"JOBLANDERIS" |translate}} </p>
            </div>
        </div>
        <div class="about-content">
            <div class="content-container">
                <p class="content-title">{{"SEARCHINGFORJOB" |translate}} </p>
                <p class="content-subject">{{"REGISTERONOUR" |translate}} </p>
            </div>
            <div class="about-img-container">
                <img src="assets/photos/compback.jpg" alt="" class="about-img">
            </div>
        </div>
    </div>
</div>