
<div class="about-align" >
    <app-about class="about-component" ></app-about>
</div>

<div class="home">
    <div class="home-fixed-back">
        <img src="assets/photos/trygif.gif" alt="" class="home-fixed-back-img">
    </div>
  <div class="home-glass">
    <div class="home-align">
        <div class="vacany-align">
          <div *ngFor="let vc of vacanys; trackBy: trackByVacany" data-aos="fade-up">
            <div [routerLink]="['/apply']" [queryParams]="{vacany: getVacanyData(vc)}" class="vacancy-height">
              <app-vacancy-card [vacany]="vc" class="vacancy" data-aos="fade-up"></app-vacancy-card>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="about-align">
    <app-about class="about-component"></app-about>
</div>



