$primaryColor : rgb(50 170 160 / var(--tw-text-opacity, 1));
$backgroundColor :  rgb(20 30 55 / var(--tw-bg-opacity, 1));
.center-header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: regular;
    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $backgroundColor ;
        .header-align {
            display: flex;
            justify-content: space-between;
            width: 90%;
            padding: 0px 0px 5px 0px;
            .header-title {
                display: flex;
                align-items: center;
                gap: 16px;
                cursor: pointer;
                .suitcase {
                    width: 60px;
                }
                .title {
                    font-size: clamp(25px, 3vw, 10px);      
                    transition: 0.3s;
                    color:$primaryColor;
                    font-family: Bold;
                }
                &:hover .title {
                    text-shadow: 0px 0px 2px $primaryColor;
                }
                .language{
                    .lang-button{
                        display: flex;
                        justify-content: center;
                        color: white;
                        background-color: rgba(255, 255, 255, 0.068);
                        border-radius: 5px;
                        align-items: center;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        font-size: 20px;
                        padding: 8px 26px;
                    }
                }
            }
            .nav-align{
                display: flex;
                align-items: center;
                gap: 16px;
                .nav-link{
                    font-size: 20px;
                    animation:1s activelinkAnimation;
                    cursor: pointer;
                    transition: 0.3s all ease-in-out;
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 10px;
                    padding-bottom: 5px;
                    font-family: semibold;
                }
                .nav-link:hover{
                    background-color: rgba(255, 255, 255, 0.151);
                }
                .active-link{
                    animation:1s activelinkAnimation;
                    text-shadow: 0px 0px 2px white;
                    background-color: rgba(255, 255, 255, 0.151);
                    padding: 8px 16px;
                }
                @keyframes activelinkAnimation {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
