<div class="center-card">
    <div class="card">
        <p class="card-title">{{"REGISTRATION"|translate}} </p>
        <form  [formGroup]="registerForm" class="card-form">
            <div class="form-align">
                <div class="form-group-h">
                    <div class="form-group" >
                        <input type="text"  class="form-field"  formControlName="Name" maxlength="20" required="phone is recruiteruier"/>
                        <label for="name" class="form-label">
                            {{"NAME" | translate}}</label>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-field"  formControlName="lastName" maxlength="20" />
                        <label for="name" class="form-label">
                            {{"LASTNAME" | translate}}</label>
                    </div>
                </div>
                <div class="form-group-v">
                    <div class="form-group">
                        <input type="email"  class="form-field"  formControlName="Email" maxlength="20" />
                        <label for="name" class="form-label">
                            {{"GMAIL" | translate}}</label>
                    </div>
                    <div class="form-group">
                        <input type="password"  class="form-field"  formControlName="password" maxlength="20" />
                        <label for="name" class="form-label">
                            {{"PASSWORD" | translate}}</label>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-field"  formControlName="phoneNumber" maxlength="20" />
                        <label for="name" class="form-label">
                            {{"PHONENUMBER" | translate}}</label>
                    </div>
                </div>
                <button class="submit-button" (click)="register()">{{"SUBMIT"|translate}} </button> 
            </div>
         </form>
    </div>
</div>
  