<div class="recruiter">
    <div class="recruiter-align">
        <div class="about-content"  data-aos="fade-left">
            <p class="content-title">{{"AREYOURECRUITER" |translate}} </p>
            <div class="content-align">
                <div class="content-container">
                    <p class="offer-title">{{"WHATWEOFFER" |translate}} </p>
                    <div class="offer-paragraph">
                        <ul class="ul">
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER1"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER2"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER3"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER4"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER5"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER6"|translate}} </li>
                        </ul>
                        <ul class="ul">
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER7"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER8"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER9"|translate}} </li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER10"|translate}}</li>
                            <li class="li" ><img src="assets/icons/success.png" alt="" class="success-icon"> {{"WHATWEOFFER11"|translate}}</li>
                        </ul>
                    </div>
                </div> 
            </div>

        </div>
        <div class="about-content"  data-aos="fade-left">
            <div class="content-align">
                <div class="content-container">
                    <p class="offer-title">{{"WHYUS" |translate}} </p>
                    <p class="content-subject">{{"WITHUSYOUCAN" |translate}} </p>
                </div>
                <div class="about-img-container">
                    <img src="assets/photos/recruitor.jpg" alt="" class="about-img">
                </div>
            </div>
        </div>
    </div>
</div>


